@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Inconsolata:wght@200..900&family=Maven+Pro:wght@400..900&display=swap");

.font-asap {
  font-family: "Asap", sans-serif;
}

.font-inconsolata {
  font-family: "Inconsolata", monospace;
}

.font-maven-pro {
  font-family: "Maven Pro", sans-serif;
}
